.post{
    margin: auto;
    width: 100%;
    max-width: 600px;
    background-color: white;
    /* background-color: gray; */
    /* border: 1px solid black; */
    border: 1px solid lightgray;
    /* margin-bottom: will separate out posts; */
    margin-bottom: 35px;
}
.post__image {
    width: 100% ;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


.post__header{
    display: flex;
    align-items: center;
    padding: 15px 10px
}

.post__avatar{
    margin-right: 10px;
}

.post__comments{
    font-weight: normal;
    padding: 5px 10px;
}

.comment{
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;

}
.comment__body{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.extras{
    display: flex; 
    /* flex-direction: column; */
    /* margin-left: auto; 
    margin-right: 0; */
}
.post__caption{
    font-weight: normal;
    padding: 5px 10px;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
}

.post__commentBox{
    display: flex;
    margin-top: 5px;
    padding: none;
}

.post__input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button{
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    background-color: transparent;
}

.edit__button{
    border: none;
    font-size: .8em;
    color:gray;
    font-weight: normal;
    background-color: transparent;
}

.comment__age{
    border: none;
    font-size: .8em;
    color:gray;
    font-weight: normal;

}