.profile{
    max-width: 800px;
    margin: auto;
}
.profile__nonGrid{
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}
.profile__stats{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.profile__grids{
  max-width: inherit;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
}

.profile__navigation{
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    margin-bottom: 5px;
    margin-top: 0px;
}

.profile__postsGrid{
  object-fit: contain;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.gridImage{
    height: 100%;
    width: 100%;
    margin: 0px;
}


.profile__avatarOptions{
  display: flex;
  direction: column;
  max-width: max-content;
}